p,a,h1,h2,h3,h4,input {
    padding: 0;
    margin: 0;
    font-family: Kanit, sans-serif;
    line-height: 100%;
}

.content {
    z-index:9;

    --width: min(1400px, 100%);
    width: var(--width);
    margin-left: calc((100% - var(--width)) / 2);
}
.btn {
    --left: 20px;
    margin-left: var(--left);
    max-width: 300px;
    width: calc(100% - 2*var(--left));
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 20px;
}
.clr1 {
    background: #0284FE;
    color: #fff;
}
.clr2 {
    background: transparent;
    color: #0284FE;
    border: 1px solid #A8A8A8;
}
.view {
    width: 100%;
    height: 80vh;
}
.main {
    font-size: max(4vw, 30px);
    margin-bottom: 20px;
    text-align: center;
}
.--main {
    color: #575757;
    text-align: center;
}
.header {
    font-size: 40px;
    margin-bottom: 30px;
}
.text {
    font-size: 20px;
    color: #575757;
}
.text-container {
    width: 500px;
}
#opportunities {
    padding-left: 40px;
    padding-right: 40px;
}
#opportunities div:not(:last-child) { margin-bottom: 100px; }
@media screen and (max-width: 1100px) {
    img { width: min(100%,500px); }
    flex3 { flex-direction: column!important; justify-content: center; }
    dop-margin { margin-left: 0; }
    dop-padding { padding-left: 0; }
}
dop-margin { margin-left: 112px; }
dop-padding { padding-left: 20px; }

.flex {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.flex2 {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.flex3 {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.flex-dir-row { flex-direction: row; }
.flex-dir-col { flex-direction: column; }
.align-left { justify-content: left; }
.align-center { justify-content: center; }
.space-between { justify-content: space-between; }
.p-l-20 { padding-left: 20px; }
.p-r-30 { padding-right: 30px; }



#how-work {
    width: 100%;
    height: auto;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
#how-work .main-text { font-size: min(50px, 5vw); }
#how-work .vertical-line {
    width: 2px;
    background: #A8A8A8;
}
@media screen and (max-width: 1090px) {
    #how-work.vertical-line {
        display: none;
    }
}
#how-work .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-row-gap: 20px;

    width:100%;
    margin-top: 50px;
}
#how-work .height {
    height: 400px;
}
#how-work .box {
    padding: 20px 30px 0 30px;
    width: min(100%, 500px);
}
#how-work .box p { font-size: 20px; }
#how-work .box p:not(:last-of-type) { margin-bottom: 30px; }



@media screen and (max-width: 1000px) {
    #svg1 { display: none; }
    #svg2 { display: none; }
}
#svg1 {
    position: absolute;
    z-index: 400;
    top: 530px;
    left: -100px;
}
#svg2 {
    position: absolute;
    z-index: 400;
    top: 1986px;
    right: -100px;
}