p,a,h1,h2,h3,input {
    margin: 0;
    padding: 0;
    font-family: Kanit,sans-serif;
    line-height: 100%;
}
input {
    outline: none;
    border: none;
}
input:active, :hover, :focus{
    outline: 0;
    outline-offset: 0;
}

main  {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
}
.content {
    position: relative;
    --width: min(1400px, 100%);
    width: var(--width);
    height: auto;
    margin-left: calc((100% - var(--width)) / 2);
    margin-top: 80px;

    grid-row-gap: 50px;
    grid-column-gap: 50px;

    position: relative;

    background: #fff;
}
.box {
    --width: min(100%,500px);
    height: 700px;
    width: var(--width);
    position: relative;
}
.create-style p {
    font-size: 25px;
    font-weight: 600;
}
.prompt-container {
    width:100%;
}
.prompt-input {
    --width: calc(100% - 40px);
    width: var(--width);
    height: 40px;
    padding-left: 10px;
    margin-left: 20px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    color: #0284FE;
    font-size: 20px;
}
.prompt-text {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.style-container {
    margin-top: 50px;
}
.style-text {
    width: 100%;
    padding-left: 30px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 30px;
}
.style-images-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}
.style-image img { width: 90px; border: 2px solid transparent; }
.style-image img.chosen {
    border: 2px solid #0284FE;
    border-radius: 15px;
}
.style-image {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.styles-image-text {
    font-size: 15px!important;
    font-weight: 400!important;
}
.create-style-button {
    height: 60px;
    --width: calc(100% - 60px);
    width: var(--width);
    margin-top: 50px;
    color: #0284FE;
    border: 1px solid #A8A8A8;
    border-radius: 40px;
    font-size: 30px;
}
.create-style-button.chosen {
    background: #0284FE;
    color: #fff;
    border-color: #0284FE;
}
.create-style-button.chosen:hover {
    background: #0056ab;
}


.viewer {
    background: #C2ACFF;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: 410;
}
.viewer img {
    max-width: 500px;
    max-height: 700px;
}
.loader-text {
    position: absolute;
    bottom: 100px;
    width: 100%;
}
.loader-text p {
    font-size: 20px;
    font-weight: 500;
}


.flex { display: flex; flex-wrap: wrap; }
.fl-row { flex-direction: row; }
.fl-col { flex-direction: column; }
.align-center { align-content: center; align-items: center; }
.just-center { justify-content: center; }



.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.loader {
    display: block;
    position: relative;
    height: 20px;
    width: 86px;
}
.loading-square {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 0;
}
.loading-square:nth-child(1) {
    left: 0;
    animation: square1 1.5s linear forwards infinite;
}
.loading-square:nth-child(2) {
    left: 22px;
    animation: square2 1.5s linear forwards infinite;
}
.loading-square:nth-child(3) {
    left: 44px;
    animation: square3 1.5s linear forwards infinite;
}
.loading-square:nth-child(4) {
    left: 66px;
    animation: square4 1.5s linear forwards infinite;
}
@keyframes square1 {
    0% {
        background-color: #28d751;
        transform: translate(0, 0);
    }
    9.09091% {
        transform: translate(0, calc(-100% - 2px));
        background-color: #28d751;
    }
    18.18182% {
        transform: translate(calc(100% + 2px), calc(-100% - 2px));
        background-color: #02bcef;
    }
    27.27273% {
        transform: translate(calc(100% + 2px), 0);
    }
    100% {
        background-color: #02bcef;
        transform: translate(calc(100% + 2px), 0);
    }
}
@keyframes square2 {
    0% {
        background-color: #02bcef;
        transform: translate(0, 0);
    }
    18.18182% {
        transform: translate(0, 0);
    }
    27.27273% {
        transform: translate(0, calc(100% + 2px));
        background-color: #02bcef;
    }
    36.36364% {
        transform: translate(calc(100% + 2px), calc(100% + 2px));
        background-color: #D53A33;
    }
    45.45455% {
        transform: translate(calc(100% + 2px), 0);
    }
    100% {
        background-color: #D53A33;
        transform: translate(calc(100% + 2px), 0);
    }
}
@keyframes square3 {
    0% {
        background-color: #D53A33;
        transform: translate(0, 0);
    }
    36.36364% {
        transform: translate(0, 0);
    }
    45.45455% {
        transform: translate(0, calc(-100% - 2px));
        background-color: #D53A33;
    }
    54.54545% {
        transform: translate(calc(100% + 2px), calc(-100% - 2px));
        background-color: #ffae4b;
    }
    63.63636% {
        transform: translate(calc(100% + 2px), 0);
    }
    100% {
        background-color: #ffae4b;
        transform: translate(calc(100% + 2px), 0);
    }
}
@keyframes square4 {
    0% {
        transform: translate(0, 0);
        background-color: #ffae4b;
    }
    54.54545% {
        transform: translate(0, 0);
    }
    63.63636% {
        transform: translate(0, calc(100% + 2px));
        background-color: #ffae4b;
    }
    72.72727% {
        background-color: #D53A33;
    }
    81.81818% {
        background-color: #02bcef;
    }
    90.90909% {
        transform: translate(calc(-300% - 6px), calc(100% + 2px));
        background-color: #28d751;
    }
    100% {
        transform: translate(calc(-300% - 6px), 0);
        background-color: #28d751;
    }
}