<div class="aside">
  <div class="left">
    <div class="image-chose-section">
      <div *ngIf="!imageUrl" class="image-input" >
        <input (change)="onFileSelected($event)" class="input1" type="file" accept="image/*" title=" " placeholder="" id="image-input"/>
        <a>Выберите файл</a>
      </div>
      <div *ngIf="imageUrl">
        <img [src]="imageUrl" alt="Selected Image">
      </div>
    </div>
    <div class="delete-img" *ngIf="imageUrl" (click)="imageUrl = ''">
      <p>another image</p>
    </div>
  </div>

  <div class="right" id="right-aside">
    <div class="post-container">
      <div class="name-div">
        <p class="name-text">Название</p>
        <input class="name-input" type="text" [(ngModel)]="name">
      </div>
      <div (click)="create_style()" [class.chosen]="is_all_chosen()" class="done-button">
        <p>Создать стиль</p>
      </div>
    </div>

    <div class="styles-container">
      <div [class.chosen]="chosen_style === style" [class.unchosen]="chosen_style !== style && chosen_style !== ''" (click)="chosen_style === style? chosen_style = '' : chosen_style = style" class="styles-list" *ngFor="let style of styles">
        <p>{{style}}</p>
      </div>
    </div>
  </div>
</div>
