<div class="content items-center">
    <p class="main__text">Make your style</p>
    <p class="little__text">Fill form fields to go to next step</p>
    <form id="msform">
        <!-- progressbar -->
        <ul id="progressbar">
            <li *ngFor="let text of this.progressbar_texts; index as i" (click)="go(i+1)" [class.current]="progressbar_status==i+1" [class.active]="progressbar_status>=i+1">
                <div class="container">
                    <div class="circle"></div>
                    <div class="line"></div>
                </div>
                <p class="progressbar-text">{{text}}</p>
            </li>
        </ul>
    </form>

    <div id="fieldset">
        <span class="name">
            <p class="header">{{pages_names[progressbar_status]}}:</p>
            <p class="text">Step {{progressbar_status}}/{{pages_count}}</p>
        </span>
        <div *ngIf="progressbar_status==1" id="photo">
            <span class="input">
                <p>Upload your photo</p>
                <div class="photo-input"><input (change)="onFileSelected($event)" type="file" accept="image/*" title=" " placeholder="" id="image-input"/></div>
            </span>
        </div>
        <div *ngIf="progressbar_status==2" id="style">
            <span class="input">
                <p>Choose your style</p>
                <div class="style-container">
                    <div *ngFor="let i of this.styles_list_to_display" [class.active]="chosen_style==i" (click)="chosen_style=i" class="style-card"><p>{{i.name}}</p></div>
                </div>
            </span>
        </div>
        <div *ngIf="progressbar_status==3" id="clothes">
            <span class="input">
                <p>Choose your clothes and color it</p>
                <div class="container">
                    <div class="clothes-image-card" [class.active]="isContainClothesItem(i)" *ngFor="let clothes of this.clothes_list_to_display; index as i">
                        <img (click)="addClothesItem(i)" id="clothes_{{i}}" class="clothes-image" [src]="clothes">
                        <input (input)="updateClothesImage(i);" id="input_{{i}}" type="color" class="clothes-color-input">
                    </div>
                </div>
            </span>
        </div>
        <div *ngIf="progressbar_status==4" id="details">
            <span class="input">
                <textarea id="details-textarea"></textarea>
            </span>
        </div>
        <div *ngIf="progressbar_status==5" id="get-images">
            <span class="input">
            </span>
        </div>
        <div *ngIf="progressbar_status==6" id="post-images">
            <span class="input">

            </span>
        </div>

        <div class="move">
            <input (click)="progressbar_status=progressbar_status-1" type="button" id="prev-button" *ngIf="progressbar_status!=1" value="Previous"/>
            <input (click)="progressbar_status=progressbar_status+1" type="button" id="next-button" *ngIf="progressbar_status!=6&&progressbar_status!=4" value="Next"/>
            <input (click)="finish()" type="button" id="submit-button" *ngIf="progressbar_status==6" value="Submit"/>
            <input (click)="post()" type="button" id="repost-button" *ngIf="progressbar_status==5" value="Remake"/>
            <input (click)="create_style(); progressbar_status=progressbar_status+1" type="button" id="post-button" *ngIf="progressbar_status==4" value="Get images"/>
        </div>
    </div>
</div>