<main>
    <div class="content flex fl-row align-center just-center">
        <div class="box create-style flex fl-col align-center">
            <div class="prompt-container">
                <div class="prompt-text">
                    <p>Enter Prompt</p>
                    <p style="font-size: 20px;">{{prompt.length}}/200</p>
                </div>
                <input id="prompt" (input)="get_prompt()" class="prompt-input">
            </div>
            <div class="style-container">
                <div class="style-text"><p>Clothes Style</p></div>
                <div class="style-images-container">
                    <div class="style-image" *ngFor="let link of styles; index as i">
                        <img (click)="chose_img(i)" [class.chosen]="this.chosen_image==i" [src]="link">
                        <p class="styles-image-text">{{this.styles_text[i]}}</p>
                    </div>
                </div>
            </div>
            <div (click)="create()" [class.chosen]="is_all_chosen()" class="create-style-button flex align-center just-center">Create</div>
        </div>
        <div class="box view-style"></div>
    </div>
</main>