<div id="header" class="header flex flex-dir-row align-left">
    <div class="p-l-20 p-r-30">
        <svg id="svg-menu" (click)="open_menu()" width="50" height="50" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect id="rect1" x="5" y="14" width="50" height="3" fill="#D9D9D9"/>
            <rect id="rect2" x="5" y="28" width="50" height="3" fill="#D9D9D9"/>
            <rect id="rect3" x="5" y="42" width="50" height="3" fill="#D9D9D9"/>
        </svg>
    </div>
    <div>
        <p (click)="go('/')" class="header-text">Sty<b style="font-weight: 500; color:#0284FE;">ll</b>z</p>
    </div>
</div>

<div id="menu" class="menu">
    <div class="top-bar flex">
        <p (click)="go('/')" class="header-text">Sty<b style="font-weight: 500; color:#0284FE;">ll</b>z</p>
    </div>

    <div class="table">
        <p [class.active]="check('view')" (click)="go('view')">Обзор</p>
        <p [class.active]="check('opportunities')" (click)="go('opportunities')">Возможности</p>
        <p [class.active]="check('safety')" (click)="go('safety')">Безопасность</p>
    </div>

    <hr style="margin-top: 7vh; margin-bottom: 5vh;">

    <div (click)="go('/create-style')" class="btn clr1 flex align-center"><p>начать работу со Styllz</p></div>
<!--    <div class="btn clr2 flex align-center"><p>Войти</p></div>-->
</div>
<div (click)="close_menu()" id="dop-menu" class="dop-menu"></div>