p,a,h1,h2,h3,h4,input {
    padding: 0;
    margin: 0;
    font-family: Kanit, sans-serif;
}

.header {
    position: fixed;
    width:100%;
    height: 100px;
    z-index: 800;
    background: #fff;

    border-bottom: 1px solid #D9D9D9;
}
.header-text {
    font-size: max(30px, min(5vw, 50px));
    font-family: Kanit, sans-serif;
    font-weight: 500;
    color: #737373;
    line-height: 100%;
}
#svg-menu * {
    transition-duration: 500ms;
}
.menu {
    z-index: 820;
    --width: min(70%, 500px);
    width: var(--width);
    height: 100vh;

    background: #fff;

    position: fixed;
    top:0;
    left:calc(-1*var(--width));

    transition-duration: 400ms;
}
.dop-menu {
    z-index: 819;

    --width: min(70%, 500px);
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;

    display: none;
    background: rgba(0,0,0,0);
    transition-duration: 500ms;
}
.top-bar {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding-left: 20px;
    border-bottom: 1px solid #D9D9D9;
}
.table {
    margin-top: 5vh;
    margin-left: 10px;
}
.table p {
    font-size: max(1.4vw, 27px);
    line-height: 100%;
    color: #565656;
}
.table p:not(:last-of-type) { margin-bottom: 7vh; }
.table p.active {
    color: #000;
}
.table p:hover {
    color: #333333;
}
.btn {
    --left: 20px;
    margin-left: var(--left);
    width: calc(100% - 2*var(--left));
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 20px;
}
.clr1 {
    background: #0284FE;
    color: #fff;
}
.clr2 {
    background: transparent;
    color: #0284FE;
    border: 1px solid #A8A8A8;
}


.flex {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.flex-dir-row { flex-direction: row; }
.flex-dir-col { flex-direction: column; }
.align-left { justify-content: left; }
.align-center { justify-content: center; }
.p-l-20 { padding-left: 20px; }
.p-r-30 { padding-right: 30px; }


