* { box-sizing: border-box; }

#main-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;


  width: 100%;
  height: 100px;

  background: #000000;
  color: #FFF;
  z-index: 10000;

  box-sizing: border-box;
  padding-right: 30px;
}

#name {
  cursor: pointer;

  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;

  line-height: 100px;

}

ul {
  display: inline-block;
  margin-top: 0;
  list-style-type: none;
}
ul li a {
  cursor: default;
}

.table1 li {
  display: inline-block;
  position: relative;
  overflow: hidden;

}
.table1 li:after {
  border: 2px #1f74e5 solid;
  position: absolute;
  content:'';
  width: 110%;
  bottom: -3px;
  left: -120%;
  transition: 0.5s;
}
.table1 li:hover:after {
  left:0;
}
.table1 {
  margin: 0;
  font-size: 20px;
  color: #9B9B9B;

  font-family: "Bitstream Charter", sans-serif;
}
.table1 li:not(:first-child) {
  margin-left: 50px;
}

.table2 {
  line-height: 100px;
}
.table2 li {
  display: inline-block;
}
.table2 button {
  margin-top: 0;
}

#small-screen {
  position: absolute;
  line-height: 100px;
  right: 50px;

  transition: transform 1s ease;
  fill: white;
}
.small-screen.chosen {
  transform: rotate(90deg);
}
#small-screen-form {
  overflow: hidden;
  position: absolute;
  margin-top: 100px;
  height: 0px;
  width: 100%;
  background: #000;

  transition-duration: 1s;
  top:0;
}
#small-screen-form ul li {
  font-size: 20px;
  color: #9B9B9B;
  font-family: "Bitstream Charter", sans-serif;
}
#small-screen-form ul li:not(:first-child) {
  margin-top: 20px;
}
#small-screen-form ul li:first-child {
  margin-top: 50px;
}
.small-screen-button {
  position: absolute;
  bottom: 20px;
  left: 30px;

  height: 40px;

  border: 1px solid #1f74e5;
  color: #1f74e5;
  border-radius: 20px;
  background: none;

  font-size: 18px;
  font-family: "Bitstream Charter", sans-serif;

  padding: 0 30px 0 30px;

  transition-duration: 200ms;
}
.small-screen-div {
  position: absolute;
  bottom: 20px;
  left: 30px;

  height: 40px;

  border: 1px solid #1f74e5;
  color: #1f74e5;
  border-radius: 20px;
  background: none;

  font-size: 18px;
  font-family: "Bitstream Charter", sans-serif;

  padding: 0 30px 0 30px;

  transition-duration: 200ms;
}
.small-screen-div * {
  line-height: 40px;
}

@media screen and (min-width: 1000px) {
  #big-screen-1 {
    display: block;
  }
  #big-screen-2 {
    display: block;
  }
  #small-screen {
    display: none;
  }
  .profile-container {
    right: 0;
    top: 100px;
  }
}
@media screen and (max-width: 1000px) {
  #big-screen-1 {
    display: none;
  }
  #big-screen-2 {
    display: none;
  }
  #small-screen {
    display: block;
  }
  .profile-container {
    left: 0;
    bottom: 100px;
  }
}

.button3 {
  width: auto;
  height: 40px;

  border: 1px solid #1f74e5;
  color: #1f74e5;
  border-radius: 20px;
  background: none;

  font-size: 18px;
  font-family: "Bitstream Charter", sans-serif;

  padding: 0 30px 0 30px;

  transition-duration: 200ms;
}
.button3:hover {
  border-color: #002ec7;
  color: #002ec7;
  transition-duration: 200ms;
}
.button2 {
  width: 40px;
  height: 40px;

  border: 1px solid #1f74e5;
  color: #1f74e5;
  border-radius: 50%;
  background: none;

  font-size: 18px;
  font-family: "Bitstream Charter", sans-serif;

  padding: 0;

  transition-duration: 200ms;
}
.button2:hover {
  border-color: #002ec7;
  color: #002ec7;
  transition-duration: 200ms;
}
.button2 {
  position: relative;
}
.button2::marker {
  content: "";
}

/* Container around content */
.profile-container {
  margin-right: 10px;
  padding: 10px 0 5px;
  border-radius: 5px;
  width: 200px;
  height: fit-content;

  position: absolute;
  box-sizing: border-box;

  background: white;
  color: black;
  overflow: hidden;

  transition: height 800ms;
}
.profile-container div{
  width: 100%;
  box-sizing: border-box;
}
.profile-name {
  font-size: 18px;
}
.content {
  margin-top: 20px;
  font-size: 20px;
  color: #9B9B9B;
  font-family: "Bitstream Charter", sans-serif;

}


#user-information {
}
.no-underline { text-decoration: none!important; }
.d-block { display: block!important; }
.user-profile-link {
  font-size: 16px;
  line-height: 120%;
}
.new-line {
  width: 100%;
  display: block;
  vertical-align: top;
}
.line-divider {
  padding: 0;
  width: 100%;
  height: 1px;
  background: #7e7e7e;
  margin: 10px 0;
}
.profile-item {

}
.height-fit { height: fit-content; }
.f-s15 { font-size: 15px; }
.padding-x-20 { padding-right: 20px; padding-left: 20px; }
.padding-x-10 { padding-right: 10px; padding-left: 10px; }
.padding-y-5 { padding-top: 5px; padding-bottom: 5px; }

.profile-item:hover {
  background: #1f74e5;
  color: white;
}