<header id="main-header">
<!--  для большого экрана-->
  <ul id="big-screen-1" class="table1">
    <li (click)="go('/create-style')" style="display: inline-block;">
      <a>create style</a>
    </li>
  </ul>
  <p (click)="go('')" id="name">Sty<b style="color: #000aff;">ll</b>z</p>

<!--  выездное меню-->
  <details id="profile-details">
    <summary class="button2"></summary>
    <div class="profile-container">
      <div class="padding-x-20" id="user-information">
        <a class="no-underline user-profile-link" (click)="go('/profile')">
          Signed in as
          <strong class="new-line">{{user.username}}</strong>
        </a>
      </div>
      <div class="line-divider"></div>

      <div id="your-profile">
        <a class="profile-item height-fit padding-x-20 padding-y-5 no-underline d-block">Your profile</a>
        <a class="profile-item height-fit padding-x-20 padding-y-5 no-underline d-block">Your projects</a>
      </div>
      <div class="line-divider"></div>

      <div id="settings-stuff">
        <a class="profile-item height-fit padding-x-20 padding-y-5 no-underline d-block">Help</a>
        <a class="profile-item height-fit padding-x-20 padding-y-5 no-underline d-block">Settings</a>
      </div>
      <div class="line-divider"></div>

      <div (click)="logout()" class="f-s15 padding-y-5 padding-x-10 profile-item height-fit" id="sign-out">Log out</div>
    </div>
  </details>

<!--  для маленького экрана-->
  <svg (click)="show()" [class.chosen]="is_shown()" class="small-screen" id="small-screen" width="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
    <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
  </svg>
  <form style="" id="small-screen-form">
    <ul>
      <li (click)="go('/create-style')">
        <a>create style</a>
      </li>
      <li (click)="go('/settings')">
        <a>settings</a>
      </li>
    </ul>
    <button (click)="go('/sign-in')" *ngIf="router.url != '/sign-in' && !profile.is_registered()" class="small-screen-div">Log in</button>
  </form>
</header>

